body{
    background: rgb(148, 105, 176);
    
}
/*Select by TAG type*/
p{
    color:rgb(75, 240, 240);
    background:rgb(246, 154, 218)
}
/*Select by ID name (unique)*/
#lili{
   background:rgb(234, 160, 134);
}
/*Select by CLASS name (shared styles)*/
.uniform{
    color:rgb(0, 0, 255);
}


h1{
    color:rgb(0, 244, 232);
    font-weight:  200;
    font-style:italic;
    font-size:50px;
    font-family:fantasy;
    text-align: center;
}